*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  } 

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 147, 62);
}

.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);

}

.container .card:hover{
    height: 400px;
}
.container .card .imgbox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 5px;
    z-index: 1;
    
}

.container .card .imgbox img{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -80px;
    transition-delay: 0.1s;
    letter-spacing: 1px;

}